body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
div,
.z-index {
  position: relative;
  z-index: 9999999999;
}
.player-container {
  background-color: #151515;
  color: #fff;
  border-radius: 20px;
  /* padding: 20px 20px 0; */
  max-width: 360px;
  width: 100%;
  text-align: center;
  position: relative;
}

.author img,
.player-container img {
  width: 100%;
  border-radius: 10px;
  z-index: 99999;
  position: relative;
}
.author {
  height: auto;
  width: 55px;
}
.song-name h3 {
  font-size: 13px;
  text-align: left;
  padding-left: 10px;
}
.musicinfo-box {
  margin: 50px 0 20px;
  background-color: #151515;
  padding: 10px 0;
  border-radius: 10px;
  align-items: center;
  z-index: 99999;
  position: relative;
}
.music-bg {
  position: relative;
  padding: 20px 20px 0;
}
.music-bg::before {
  content: "";
  background-color: #222;
  display: block;
  max-width: 360px;
  width: 100%;
  height: 55%;
  position: absolute;
  left: 0;
  right: 0;
  top: unset;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
}

.progress {
  height: 8px;
}
.progressbar {
  padding: 10px 0;
}

.progress {
  height: 8px;
  background: #151515;
}
.progress-bar {
  background-color: #fff;
}
.progress-time {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.progress-time span {
  font-size: 13px;
}
.music-controls div button {
  background-color: #333;
  border: 2px solid #000;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}

.music-controls {
  margin-right: 10px;
}
.player-box {
  border: 1px solid #000;
  background-color: #333;
  height: 182px;
  width: 182px;
  margin: 10px 20px;
  border-radius: 50%;
  position: relative;
}
.play-btn {
  background: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  margin: 10px auto;
  cursor: pointer;
}

.play-btn i {
  font-size: 30px;
}
.fav-btn {
  margin-top: 10px;
  cursor: pointer;
}
.volume-btn {
  cursor: pointer;
}
.fav-btn i,
.volume-btn i,
.next-btn i,
.prev-btn i {
  font-size: 20px;
}
.prev-btn {
  position: absolute;
  bottom: 78px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 11px;
  cursor: pointer;
}
.next-btn {
  position: absolute;
  bottom: 78px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 11px;
  cursor: pointer;
}
